html{
    font-size: 20px;
}

body{
    background: #111;
    min-height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
}

svg{
    width: 80vw;
    fill: white;
    animation: 10s linear colorchange infinite;
}

@keyframes colorchange{
    from, to{
        fill: white;
    }
    50%{
        fill: #FF6956;
    }
    25%, 75%{
        fill: yellow;
    }
}

